* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #ebf2f5 !important;
}

/*------------------NAV SECTION---------------*/

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #73c2fb 0%, #0080ff 100%);
  padding: 10px !important;
}

.navbar-brand img {
  height: 60px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
  text-transform: uppercase;
}

.dropdown .dropdown-menu a {
  color: #000 !important;
}

.dropdown .dropdown-menu a:hover {
  color: #fff !important;
  background-color: #0080ff;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
}

.fa-bars {
  color: #fff;
  font-size: 25px !important;
}

.navbar-toggler {
  outline: none !important;
  margin-right: 5px;
}

/*------------------BANNER SECTION---------------*/

#banner {
  background-image: linear-gradient(to right, #73c2fb 0%, #0080ff 100%);
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.promo-title {
  font-size: 60px;
  font-weight: 700;
  margin-top: 100px;
  -webkit-animation-duration: 3s !important;
}

.promo-text {
  font-size: 27px;
  font-weight: 300;
  margin-top: 20px;
  -webkit-animation-duration: 3s !important;
}

.img-fluid {
  border-radius: 30px;
  width: 450px;
  -webkit-animation-duration: 3s !important;
}

/*------------------SERVICES SECTION---------------*/

#services {
  padding: 80px 0;
}

.services a img {
  margin-top: 25px;
  width: 60px;
  height: 60px;
  transition: all 0.5s;
}

.services a img:hover {
  transform: scale(1.13);
}

.services a {
  color: #000 !important;
}

.services a:hover {
  color: #000 !important;
  text-decoration: none;
}

.services {
  padding: 20px;
}

.services .subtitleBig {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.services .subtitleSmall {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.title::before {
  content: '';
  background: #0080ff;
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #73c2fb 0%, #0080ff 100%);
}

a.list-group-item.list-group-item-action:hover {
  background-color: #0080ff;
  color: #fff !important;
}

/*------------------ABOUT US SECTION---------------*/

#about-us {
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#about-us ul li {
  margin: 10px 0;
}

#about-us ul {
  margin-left: 20px;
}

/*------------------TESTIMONIALS SECTION---------------*/

#testimonials {
  margin: 50px 0;
}

.testimonials {
  border-left: 4px solid #0080ff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

.user-details {
  display: inline-block;
  font-size: 12px;
}

/*------------------FOOTER SECTION---------------*/

#footer {
  background-image: linear-gradient(to right, #73c2fb 0%, #0080ff 100%);
  color: #fff;
}

.footer-box {
  padding: 20px;
}

.footer-box img {
  width: 200px;
  margin-bottom: 20px;
}

.footer-box .icons {
  margin-right: 15px;
  font-size: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #73c2fb 0%, #0080ff 100%);
  vertical-align: middle;
}

.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.footer-box a {
  color: #fff !important;
}

.footer-box a:hover {
  color: #fff !important;
  text-decoration: none;
}

hr {
  background-color: #fff;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: #fff;
}

.copyright a:hover {
  text-decoration: none;
  color: #fff;
}

/*------------------MEDIA QUERIES SECTION---------------*/

@media (max-width: 767px) {
  #services .btn-primary {
    font-size: 14px;
  }

  #social-media p {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .social-icons img {
    margin-right: 20px;
    width: 55px;
    transition: 0.5s;
  }

  .promo-title {
    font-size: 30px;
  }

  .promo-text {
    font-size: 20px;
  }

  h1.title {
    font-size: 30px;
  }

  .about-title {
    font-size: 25px;
    margin-top: 10%;
  }

  #about-us {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #services {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .navbar-brand img {
    height: 40px;
  }
}
